
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* N  A   V      S  E  C  T I O N  */


nav .navbar-nav .nav-link.active::after,
nav .navbar-nav .nav-link.show::after {
    width: 100%;
    transition: all 0.5s;
}



.home-link::after,
.about-link::after,
.services-link::after,
.portfolio-link::after,
.client-link::after,
.team-link::after,
.contact-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1.5px;
    bottom: 7px;
    background-color: black;
    left: 0;
    transition: all 0.5;
}

.home-link,
.about-link,
.services-link,
.portfolio-link,
.client-link,
.team-link,
.contact-link {
    position: relative;
    font-weight: 600;
    color: black;
    transition: all 0.5;
    font-size: 14px;
}

.nav-link:focus,
.nav-link:hover {
    color: black;
}


nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


.navbar-toggler-icon {
    color: black;
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler {
    border: none;
}




/*E   n   D        N  A   V      S  E  C  T I O N  */


/* H O M E        S E C T I O N   */

#home {
    background-image: url(../images/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#home .home-layer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

#home .home-items h5 {
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
    color: white;
}

#home .home-items h1 {
    font-weight: 200;
    color: white;
    font-size: 60px;
    line-height: 72px;
    margin-top: 20px;

}

#home .home-items h1::after {
    content: "";
    font-weight: 400;
    animation-name: typing;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    width: 0;
    transition: all 0.5s;
}

@keyframes typing {
    0% {
        content: "|";
    }

    0.2% {
        content: "L|";
    }

    0.4% {
        content: "La|";
    }

    0.6% {
        content: "Lar|";
    }

    0.8% {
        content: "Larr|";
    }

    0.1% {
        content: "Larry|";
    }

    1.2% {
        content: "Larry D|";
    }

    1.4% {
        content: "Larry Da|";
    }

    1.6% {
        content: "Larry Dan|";
    }

    1.8% {
        content: "Larry Dani|";
    }

    2% {
        content: "Larry Danie|";
    }

    2.2% {
        content: "Larry Daniel|";
    }

    2.4% {
        content: "Larry Daniels|";
    }

    30% {
        content: "Larry Daniels|";
    }

    30.2% {
        content: "Larry Daniel |";
    }

    30.4% {
        content: "Larry Danie |";
    }

    30.6% {
        content: "Larry Dani |";
    }

    30.8% {
        content: "Larry Dan |";
    }

    31.0% {
        content: "Larry Da |";
    }

    31.2% {
        content: "Larry D |";
    }

    31.4% {
        content: "Larry |";
    }

    31.6% {
        content: "Larr |";
    }

    31.8% {
        content: "Lar |";
    }

    32.0% {
        content: "La |";
    }

    32.2% {
        content: "L |";
    }

    32.4% {
        content: "|";
    }

    32.6% {
        content: "D|";
    }

    32.8% {
        content: "De|";
    }

    33.0% {
        content: "Des|";
    }

    33.2% {
        content: "Desi|";
    }

    33.4% {
        content: "Desig|";
    }

    33.6% {
        content: "Design|";
    }

    33.8% {
        content: "Designe|";
    }

    34.0% {
        content: "Designer|";
    }

    64.99% {
        content: "Designer|";
    }

    65% {
        content: "Designe|";
    }

    65.2% {
        content: "Design|";
    }

    65.4% {
        content: "Desig|";
    }

    65.6% {
        content: "Desi|";
    }

    65.8% {
        content: "Des|";
    }

    66.0% {
        content: "De|";
    }

    66.2% {
        content: "D|";
    }

    66.4% {
        content: "|";
    }

    66.6% {
        content: "D|";
    }

    66.8% {
        content: "De|";
    }

    67.0% {
        content: "Dev|";
    }

    67.2% {
        content: "Deve|";
    }

    67.4% {
        content: "Devel|";
    }

    67.6% {
        content: "Develo|";
    }

    67.8% {
        content: "Develop|";
    }

    68.0% {
        content: "Develope|";
    }

    68.2% {
        content: "Developer|";
    }

    98% {
        content: "Developer|";
    }

    98.2% {
        content: "Develope|";
    }

    98.4% {
        content: "Develop|";
    }

    98.6% {
        content: "Develo|";
    }

    98.8% {
        content: "Devel|";
    }

    99% {
        content: "Deve|";
    }

    99.2% {
        content: "Dev|";
    }

    99.4% {
        content: "De|";
    }

    99.6% {
        content: "D|";
    }

    100% {
        content: "|";
    }


}

.h-ico {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.h-ico i {
    color: white;
}

/* E N D     H O M E        S E C T I O N  */
/* 
      A B O U T         S E C T I O N   */
.about h3 {
    font-size: 1.875rem;
    line-height: 33px;
    font-weight: 800;
    color: #343434;
}

.about .about-p1 {
    color: #999999;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
    letter-spacing: 2px;

}

.about .about-p2 {
    color: #748182;
    font-weight: 400;
}

.jerry-Daniels {
    font-size: .9375rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: #748182;
}

.about.skills {
    margin-top: 30px;
}

.progress-bar {
    background-color: black;
    border-radius: 5px;
}

.progress,
.progress-stacked {
    height: 1.5rem;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;

}

.about .hero-img {
    padding: 0 0 0 30px;
    position: relative;
}

.about .hero-img:after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: -30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}

.about .hero-img img {
    width: 100%;
    vertical-align: middle;
    height: auto;
}

.skills-progress h6 {
    font-size: 14px;
}

.about .buton {
    margin-top: 20px;
}

.about .skills .item {
    margin-bottom: 30px;
}

.buton-bg {
    background: #1c1c1c;
    color: #eee;
}

.buton {
    padding: 10px 30px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
}

span {
    display: inline-block;
}

.about .but-color {
    color: #1c1c1c;
}


.about .buton {
    margin-top: 20px;
}

.buton-bg:hover {
    background: transparent !important;
    color: #343434 !important;
}

.buton:hover {
    background: #1c1c1c;
    color: #eee;
}

/* E N D     A B O U T       S E C T I O N  */
/* S E R V I C E S    S E C T I O N */
#Services {
    background-color: #f7f7f7;
}

.section-head {
    margin-bottom: 80px;
    text-align: center;
}

.section-head h3 {
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}

.section-head h3:after {
    content: "";
    width: 100%;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}

.service-box {
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
}

.service-icon i {
    font-size: 24px;
    transition: all 0.5s;
}

.service-h6 {
    font-size: 1.125rem;
    line-height: 19.8px;
    font-weight: 800;
    margin: 20px 0;
}

.service-icon {
    width: 70px;
    height: 70px;
    background-color: #eee;
    border-radius: 50%;
    transition: all 0.5s;
}

.service-box:hover .service-icon i {
    color: white;
}

.service-box:hover .service-icon {
    background-color: black;
}

/* E N D     S E R V I C E S    S E C T I O N */




/* Portfolio    S E C T I O N  */




.Portfolio .nav-pills .nav-link.active::after,
.Portfolio .nav-pills .show>.nav-link::after {
    content: "";
    position: absolute;
    width: 73%;
    height: 2px;
    background-color: black;
    bottom: -2px;
    left: 12%;
    transition: all 0.5s;
   
}
#portfolio .nav-link{
    position: relative;
}

#Portfolio .nav-pills .nav-link {
    color: black;
    
}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:black;
    background-color:transparent ;
   
}

#portfolio .nav-link {
    color: black;
    font-weight: 700;
  position: relative;
}





.Portfolio-pics {
    position: relative;
}

.Portfolio-pics:hover .Portfolio-content {
    opacity: 1;
}

.Portfolio-content {
    position: absolute;
    width: 90.5%;
    height: 96.3%;
    top: 2%;
    left: 4.7%;
    opacity: 0;
    background-color: white;
    transition: all 1s;
    

}

.Portfolio-content p {
    font-size: 14px;
    font-weight: 600;
}

.Portfolio-icons-design {
    width: 35px;
    height: 35px;
    background-color: black;
    margin-left: 3px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.Portfolio-icons-design i {
    color: white;
    transition: all 0.5s;
}

.Portfolio-icons-design:hover {
    background-color: white;
    border: 2px solid black;
}

.Portfolio-icons-design:hover i {
    color: black;
}


/* E N D     Portfolio    S E C T I O N  */








/*     C L I E N T     S E C T I O N */


.carousel-item img {
    width: 100px;
    height: 100px;
}

#clients {
    background: #eee;
    height: 100vh;
    
}

.part-blue .carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.carousel-item-h6 {
    font-weight: 600;
}

.carousel-indicators .active {
    border-radius: 50%;
    background-color: #748182;
}

.client-p {
    color: #748182;
    font-weight: 400;
}

.carousel-item .span-color {
    color: gray;
    font-weight: 600;
    font-size: 12px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: #808484;
    border-radius: 50%;
}

/*        E N D    C L I E N T     S E C T I O N */


/* 
c o u n t e r     s e c t i o n */

.counter {
    background-color: #eee;
}

.counter-box {
    color: #343434;
    text-align: center;
}

.counter-ico {
    margin-bottom: 1rem;
    font-size: 30px;
    color: #343434;
}



.section-counter-position {
    top: 130px;
}

.counter {
    font-size: 32px;
    margin: 0;
    font-weight: 400;
}

.counter-num h3 {
    font-weight: 800;
    font-size: 38px;
}

.counter-text {
    font-size: 16px;
    font-weight: 600;
}

/* e n  d     c o u n  t e r     s e c t i o n  */


/* T E A M   S E C T I O N  */

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    background-color: #5B5B5B;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.card-body h3 {
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.card-body h6 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}


#team .card-img,
#team .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card {
    border: transparent;
}
.card-img-top{position: relative;}
.team-icons {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
    height: 40%;
    left: 25%;
    top: 25%;
    opacity: 0;
    transition: all 0.5s;
}

.card img {
    transition: all 0.5s;
}

.team-image:hover img{
    transform: scale(1.2);
}

.card:hover .team-icons {
    opacity: 1;
    transform:  scale(1, 1);
    width: 96%;
    height: 96%;
    left: 2%;
    top: 2%;

}




.t-icon {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    margin-inline: 12px;
    transform: rotateY(180deg);
}

.t-icon:hover {
    background-color: white;
    border: 1px solid black;
}

.t-icon:hover i {
    color: black;
}



.t-icon i {
    color: white;
    font-size: 20px;
}





/* E N D      T E A M     S E C T I O N */


/* C O N T A C T    S E C T I O N */


.contact-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f4f4f4;
    transition: all 0.5s;
}

.contact-icon i {
    font-size: 22px;
    transition: all 0.5s;
}



.contact-h6 {
    font-size: 16px;
    font-weight: 700;
}
.contact-content p{font-size: 15px;color: #748182;}
.contact-box:hover .contact-icon {
    background-color: black;
}

.contact-box:hover .contact-icon i {
    color: #fff;
}




.form-group {
    margin-bottom: 15px;
}

.contact .form input[type="text"],
.contact .form input[type="email"],
.contact .form textarea {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}

.contact-but {
    padding: 8px 25px;
    background-color: black;
    transition: all 0.5s;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px
}

.form-control {
    border: none;
    background-color: #F4F4F4;
}

.contact-but:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px
}

.form-control:focus {

    background-color: #F4F4F4;

    box-shadow: none;
}




/*  E N D     C O N T A C T    S E C T I O N */
/* F O  O T E R  */

footer {
    background-color: #1C1C1C;
    color: #748182;
    height: 14vh;
    font-size: 13px;
}

/* E N D    F O  O T E R  */





/* M E D I A  A  A  A  A  A  */

@media screen and (max-width:575px) {
    .navbar-default .navbar-collapse {
        text-align: center;
        border: none;
        border-top: 1px solid rgba(12, 12, 12, 0.04);
        background: #fff;
        margin-top: 5px;
        padding-bottom: 15px;
    }

    .nav-link {
        text-align: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }



    .card:hover .team-icons {
        height: 80%;

    }

    

    nav .navbar-nav .nav-link.active::after,
    nav .navbar-nav .nav-link.show::after {
        width: 17%;
        transition: all 0.5s;
    }

    .home-link::after,
    .about-link::after,
    .services-link::after,
    .portfolio-link::after,
    .client-link::after,
    .team-link::after,
    .contact-link::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 3px;
        background-color: black;
        left: 42%;
    }

   
   


}
@media screen and (min-width:576px) and (max-width:624px)
{
    .navbar-default .navbar-collapse {
        text-align: center;
        border: none;
        border-top: 1px solid rgba(12, 12, 12, 0.04);
        background: #fff;
        margin-top: 5px;
        padding-bottom: 15px;
    }

    .nav-link {
        text-align: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }


    .card:hover .team-icons {
        height:66%;

    }

    nav .navbar-nav .nav-link.active::after,
    nav .navbar-nav .nav-link.show::after {
        width: 15%;
        transition: all 0.5s;
    }

    .home-link::after,
    .about-link::after,
    .services-link::after,
    .portfolio-link::after,
    .client-link::after,
    .team-link::after,
    .contact-link::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 3px;
        background-color: black;
        left: 43%;
    }
    


}
@media screen and (min-width:625px) and (max-width:767px)
{
    .navbar-default .navbar-collapse {
        text-align: center;
        border: none;
        border-top: 1px solid rgba(12, 12, 12, 0.04);
        background: #fff;
        margin-top: 5px;
        padding-bottom: 15px;
    }

    .nav-link {
        text-align: center;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }


    .card:hover .team-icons {
        height:71%;

    }

    nav .navbar-nav .nav-link.active::after,
    nav .navbar-nav .nav-link.show::after {
        width: 15%;
        transition: all 0.5s;
    }

    .home-link::after,
    .about-link::after,
    .services-link::after,
    .portfolio-link::after,
    .client-link::after,
    .team-link::after,
    .contact-link::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 3px;
        background-color: black;
        left: 43%;
    }
    


}


@media screen and (min-width:768px) and (max-width:991px) {

    .card:hover .team-icons {
       height: 73%;

    }
    .container-fluid{max-width: 80%;}

}

@media screen and (min-width:992px) and (max-width:1018px) {

    .card:hover .team-icons {
        max-height: 63%;

    }
    .container-fluid{max-width: 80%;}
}

@media screen and (min-width:1019px) and (max-width:1119px) {


    .card:hover .team-icons {
        height: 65%;

    }
    .container-fluid{max-width: 80%;}

}

@media screen and (min-width:1120px) and (max-width:1999px) {


    .card:hover .team-icons {
        max-height: 71%;

    }
    .container-fluid{max-width: 80%;}

}

@media screen and (min-width:1200px) and (max-width:1233px)
{

    .card:hover .team-icons {

        max-height: 66%;


    }
    .container-fluid{max-width: 75%;}




}




@media screen and (min-width:1234px) and (max-width:1399px) {
    .card:hover .team-icons {

        max-height: 71%;


    }
    .container-fluid{max-width: 75%;}


}


@media screen and (min-width:1400px) {
    .card:hover .team-icons {
        top: 4.7%;
        height:120%;
    }
    

}